*.gem
*.sublime-project
*.sublime-workspace
site/.bundle
.DS_Store
site/.jekyll-metadata
site/.sass-cache
site/_asset_bundler_cache
site/_site
site/codekit-config.json
site/example/_site
site/Gemfile.lock
site/node_modules
site/npm-debug.log*
site/_deploy
